* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid #000; */
}

html {
    width: 100vw;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#top > div {
    padding: 5px;
    display: flex;
    justify-content: center;
}

#searchbar-top {
    display: flex;
    align-items: center;
}

#input-wrapper {
    position: relative;
}

/* #dropdown {
    position: absolute;
    top: 100%;
    left: 0;
} */

#searchbar-bottom {
    padding: 5px;
}

.error-div {
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
}

#search-button {
    padding: 7px 15px;
    margin: 5px;
    border-radius: 12px;
    cursor: pointer;
}

#search-button:active {
    background-color: rgb(225, 233, 248);
}

#bottom {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

#weather {
    height: 100%;
    display: flex;
    align-items: center;
}

#city-input {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    /* background-color: lightgray; */
}

.weather {
    border: 1px solid #000;
    padding: 40px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#current-weather > * {
    padding: 5px;
}

.icon {
    background-color: lightblue;
    border-radius: 10px;
}

#five-day-forecast {
    /* border: 1px solid #000; */
    border-radius: 10px;
    padding: 40px 15px;
    display: flex;
}

.city-buttons {
    padding: 10px 20px;
    margin-left: 5px;
    border-radius: 15px;
    background-color: antiquewhite;
    font-size: 18px;
    cursor: pointer;
}

.city-buttons:hover {
    background-color: rgb(230, 215, 194);
    border-color: gray;
    scale: 105%;
    transition: all .2s;
}

#autocomplete-list {
    position: absolute;
    list-style-type: none;
    /* left: 8px; */
    padding-top: 10px;
    background-color: white;
    border: 1px solid #000;
    border-top: none;
}

#autocomplete-list > li {
    padding: 5px;
    user-select: none;
    cursor: pointer;
}

#autocomplete-list > li:hover {
    background-color: rgb(235, 234, 234);
}