* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* border: 1px solid #000; */
}

html {
    width: 100vw;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#top > div {
    padding: 5px;
    display: flex;
    justify-content: center;
}

#searchbar {
    display: flex;
    flex-direction: column;
}

#searchbar-bottom {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.error-div {
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
}

#searchButton {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: aliceblue;
}

#searchButton:active {
    background-color: rgb(225, 233, 248);
}

#bottom {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

#weather {
    height: 100%;
    display: flex;
    align-items: center;
}

#cityInput {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background-color: lightgray;
}

#current-weather {
    border: 1px solid #000;
    padding: 40px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#current-weather > * {
    padding: 5px;
}

.icon {
    background-color: lightblue;
    border-radius: 10px;
}

#five-day-forecast {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 40px 15px;
}