* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid #000;
}

html {
    width: 100vw;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather {
    height: 100%;
    display: flex;
}

#weather > * {
    flex: 1;
}